{% extends "base.html" %}
{% block head %}
  {{ super() }}
  {% if article.description %}
    <meta name="description" content="{{article.description}}" />
  {% endif %}

  {% for tag in article.tags %}
    <meta name="tags" content="{{tag}}" />
  {% endfor %}

{% endblock %}

{% block content %}
<br>
<br>
<br>
<section id="content" class="body">
  <header>
 {% import 'translations.html' as translations with context %}
 {{ translations.translations_for(article) }}
  </header>
<div class="row">
  <div class="col s12 m8 offset-m2">
      <div class="card"> 
        <div class="card sticky-action #8e24aa purple darken-1">
            <div class="card-action">
                <h2 class="entry-title">
                    {{ article.title }}
                </h2>
                <hr>
                  <footer class="post-info">
                    <time class="published" datetime="{{ article.date.isoformat() }}">
                      {{ article.locale_date }}
                    </time>
                    {% if article.modified %}
                    <time class="modified" datetime="{{ article.modified.isoformat() }}">
                      {{ article.locale_modified }}
                    </time>
                    {% endif %}
                    {% if article.authors %}
                    <address class="vcard author">
                      By {% for author in article.authors %}
                          <a class="url fn white-text" href="{{ SITEURL }}/{{ author.url }}">{{ author }}</a>
                        {% endfor %}
                    </address>
                    {% endif %}
                  </footer><!-- /.post-info -->
            </div>
        </div>
        <div class="card-stacked">
            <div class="card-content">
                <div class="entry-content">
                    <div class="conteneur">
                        {{ article.content }}
                    </div>
                </div><!-- /.entry-content -->
        </div>
      </div>
    </div>
</div>
</div>
</section>
{% endblock %}
