{% extends "base.html" %}

{% block title %}{{ SITENAME }} - Authors{% endblock %}

{% block content %}
<br>
<br>
    <div class="container">
        <h1>L'équipe de rédaction d'{{ SITENAME }}</h1>

        <div class="collection">
            {%- for author, articles in authors|sort %}
                <a href="{{ SITEURL }}/{{ author.url }}"  class="collection-item">{{ author }}  ({{ articles|count }})</a>
            {% endfor %}
        </div>
    </div>
{% endblock %}
