{% extends "base.html" %}
{% block title %}{{ SITENAME }} - Articles by {{ author }}{% endblock %}
{% block content %}
<br>
<br>
<br>
<div class="container">
    <h2>Articles rédigés par {{ author }}</h2>
    {% include 'parts/articles-list.part.html' %}
</div>
{% endblock %}