{% extends "base.html" %}
{% block content %}
<section id="content">
<div id="index-banner" class="parallax-container">
   <div class="parallax"><img src="images/home/home.png" alt="image d'accueil"></div> 
</div>
  <div class="container" id="labs">
    <h2>Des LABS :</h2>
  </div>
  <div class="container">
    <div class="section">
        <div class="row">
        <div class="col s12 m6 l2">
          <div class="card small">
            <a href="labs/educlab.html">
                <div class="card-image">
                  <img src="images/home/labs/educlab.png">
                </div>
                <div class="card-content card-labs">
                    <div class="text_labs">EducLab</div>
                </div>
            </a>
          </div>
        </div>
        <div class="col s12 m6 l2">
          <div class="card small">
            <a href="labs/designlab.html">
                <div class="card-image">
                  <img src="images/home/labs/design.png">
                </div>
                <div class="card-content card-labs">
                    <div class="text_labs">DesignLab</div>
                </div>
            </a>
          </div>
        </div>
        <div class="col s12 m6 l2">
          <div class="card small">
            <a href="labs/explolab.html">
                <div class="card-image">
                  <img src="images/home/labs/explolab.png">
                </div>
                <div class="card-content card-labs">
                    <div class="text_labs">ExploLab</div>
                </div>
            </a>
          </div>
        </div>
        <div class="col s12 m6 l2">
          <div class="card small">
            <a href="labs/livinglab.html">
                <div class="card-image">
                  <img src="images/home/labs/livinglab.png">
                </div>
                <div class="card-content card-labs">
                    <div class="text_labs">LivingLab</div>
                </div>
            </a>
          </div>
        </div>
        <div class="col s12 m6 l2">
          <div class="card small">
            <a href="labs/fablab.html">
                <div class="card-image">
                  <img src="images/home/labs/fablab.png">
                </div>
                <div class="card-content card-labs">
                    <div class="text_labs">FabLab</div>
                </div>
            </a>
          </div>
        </div>
        <div class="col s12 m6 l2">
          <div class="card small">
            <a href="labs/medialab.html">
                <div class="card-image">
                  <img src="images/home/labs/medialab.png">
                </div>
                <div class="card-content card-labs">
                    <div class="text_labs">MediaLab</div>
                </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
<div class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 black-text" id="joke"></h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="images/home/background.png" alt="Tour Eiffel"></div>
  </div>
  <div class="container" id="actu">
    <h2 class="">L'Actu :</h2>
  </div>
<div class="container">
    <div class="row">
        <ol id="post-list">      
            {% for article in articles_page.object_list %}
                    <div class="col s12 m6 l4">
                                <section >
                                      <div class="card medium">
                                        <div class="card-image waves-effect waves-block waves-light">
                                          <img class="activator" src="{{ article.image }}">
                                        </div>
                                        <div class="card-content">
                                          <span class="card-title activator grey-text text-darken-4"><a href="{{article.url}}">{{ article.title }}</a><i class="material-icons right">more_vert</i></span>
                                          <p><a href="{{ article.author.url }}"><em>Écrit par <a href="{{ article.author.url }}">{{ article.author }}</a> le {{ article.locale_date }}.</em></a></p>
                                        </div>
                                        <div class="card-reveal">
                                          <span class="card-title grey-text text-darken-4">{{ article.title }}<i class="material-icons right">close</i></span>
                                          <p>{{ article.summary }}</p>
                                          <a href="{{article.url}}">Voir l'article</a>
                                        </div>
                                      </div>
                                </section>
                        </div>
            {% endfor %}
        </ol><!-- /#posts-list -->
</div>


    
    <div class="row">
            <center>
                <button class="btn waves-effect waves-light blue lighten-1" type="submit" name="action" onClick="javascript:document.location.href='categories.html'">Toute l'Actu
                        <i class="material-icons right">web</i>
                </button>
            </center>
        </div>
</div>
<div class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light">"Now is better than never" : maintenant est préférable à jamais<br><i>The Zen of Python, by Tim Peters</i></h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="images/home/background3.jpg" alt="Unsplashed background img 3"></div>
  </div>

  <div class="container">
    <h2 class="">Informations :</h2>
  </div>

  <div class="container">
    <div class="section">

   <div class="row">
     <div class="col s12 m6 l6">
       <div class="card blue lighten-2">
         <div class="card-content white-text">
           <span class="card-title">contact@iRoboTechArt.com</span>
         </div>
       </div>
     </div>
     <div class="col s12 m6 l6">
       <div class="card blue lighten-2">
           <div class="card-content white-text">
             <span class="card-title">+33 7 68 38 20 15</span>
           </div>
         </div>
     </div>
   </div>

 </div>
  </div>
<iframe src="https://www.google.com/maps/d/embed?mid=1iG6LaB7O2iMDJeSeBh6JKl1u8lc" width="100%" height="480"></iframe>
</section><!-- /#content -->
<script>
    var jokes = [
        "Quand quelqu'un de triste joue aux jeux vidéo pour oublier, on peut dire qu'il se console.",
        "Deux informaticiens discutent : <br>– Qu’est-ce que t’as pris comme résolution cette année ?<br>– 1024 x 768, et toi ?",
        "Quelle est la pulsation préférée d'un ordinateur ?<br> Un algo-rythme", 
        "Dans le monde, il y a 10 catégories de personnes : <br>celles qui savent compter en binaire et celles qui ne savent pas."
    ]
    var size = jokes.length;
    var random = Math.floor(Math.random() * Math.floor(size));
    document.getElementById("joke").innerHTML = jokes[random];
</script>
{% endblock content %}

