{% extends "base.html" %}
{% block content %}
<br>
<br>
<br>
<br>
  <div class="container">
      <div class="card">
        <div class="card-content">
            <h2>Informations</h2>
            <hr>
            <p>
                L’ association iRoboTechArt a pour objet l’EDUCation, la PRODuction, l’EXPLOration, la PROMOtion, l’INFOrmation et la COMmunication autour de projets qui concerne de près ou de la loin la robotique ou tout autre projet émanant et mixant : les Arts et les SciencesTechnologies dans un cadre linguistique régional, national, européen et mondial. Le tout s’articulant et prenant appui sur six LABoratoireS : EDUCLAB, FABLAB, DESIGNLAB, EXPLOLAB, MEDIALAB et LIVINGLAB.
            </p>
            <br>
            <div class="row">
                <div class="col s4 offset-s4">
                    <button class="btn waves-effect waves-light" type="submit" name="action" onClick="javascript:document.location.href='contact.html'">Nous contacter
                        <i class="material-icons right">email</i>
                    </button>
                </div>
            </div>
        </div>
      </div>
    </div>
{% endblock content %}